/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
html {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 70%;

  h1 {
    text-align: center;
  }

  table {
    width: 100%;

    .delete-message-button {
      border: 0;
      background-color: inherit;
      text-indent: -9999px;
      line-height: 0;
      position: relative;
    }

    .delete-message-button:after {
      content: "\1F5D1";
      text-indent: 0;
      display: block;
      line-height: initial;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
